body {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--main-color);
}

.container {
  width: 600px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.container h2 {
  font-size: 25px;
  font-weight: 900;
  padding: 16px 25px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.container .content {
  margin: 25px 20px 35px;
}

.endPage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.endPage lord-icon {
  align-self: center;
  width: 50px;
  height: 50px;
  margin-bottom: var(--mb-1);
}

.endPage .play {
  padding: 5px !important;
  height: 70px;
}

.endPage .f-score {
  font-size: 30px;
  font-weight: 700;
  margin-top: 20px;
}

.content .word {
  user-select: none;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  margin-right: -24px;
  word-break: break-all;
  text-transform: uppercase;
}

#fir-cont>lord-icon {
  position: relative;
  top: 50%;
  left: 49%;
  transform: translate(-50%, 0%);
  width: 200px;
  height: 200px;
}


.content input {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid;
  padding: 1em 0 .8em;
  text-align: center;
  font-size: 30px;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.5;
  color: inherit;
  outline: none;
}


.content .buttons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.buttons button {
  display: inline;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  padding: 15px 0;
  font-size: 17px;
  border-radius: 5px;
  width: 546px;
 
}



.buttons .end {
  background: var(--sec-color);
}

.play-now {
  user-select: none;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  background: var(--fiv-color);
  padding: 10px;
  color: var(--whi-color);
  animation: loops .5s infinite;
}


.play,
.play-ch {
  background: var(--sec-color);
  font-weight: bold;
  letter-spacing: 1.5px;
}

.left {
  margin-right: 10px;
  background: var(--fou-color);
}

.right {
  margin-left: 10px;
  background: var(--thi-color);
}

.play:hover,
.play-ch:hover {
  background: var(--fiv-color);
}

.play-ch {
  width: calc(100% / 3) !important;
}

.time,
.score {
  display: inline;
  text-align: center;
  margin-left: 15%;
  font-size: var(--h2-size) !important;
  font-weight: 500;
  color: rgb(155, 47, 47);
}

.score {
  margin-left: 22%;
}

.hide {
  display: none !important;
}

@media screen and (min-width: 968px) {
  :root {
    --bigger-size: 3rem;
    --big-size: 2.5rem;
    --h1-size: 2.25rem;
    --h2-size: 1.5rem;
    --h3-size: 1.25rem;
    --normal-size: 1rem;
    --small-size: .875rem;
    --smaller-size: .813rem;
  }
}

@media (max-width: 780px) {
  .container {
    width: 740px;
    height: 1300px;
  }

  .content .word {
    font-size: 30px;
    letter-spacing: 20px;
    margin-right: -20px;
  }

  .container .content {
    margin: 20px 20px 30px;
  }

  .details p {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .content input {
    height: 55px;
    font-size: 17px;
  }

  .buttons button {
    padding: 14px 0;
    font-size: 16px;
    width: calc(100% / 2 - 7px);
  }
}